data/extracted_source_code
build/*
node_modules/*
package-lock.json
*.pyc
*.pth
*.zip
.DS_Store

.ipynb_checkpoints
outputs/*
logs/
logs*/
*.ipynb
*.txt
**/logs/
**/logs*/
**/dataset/
data/
models/
results/
*.gpickle
*.json
forensics/graph_hiddends/*
experiments/ge-sc-data/byte_code/smartbugs/creation/gpickles/*
experiments/ge-sc-data/byte_code/smartbugs/runtime/evm/*
experiments/ge-sc-data/byte_code/smartbugs/runtime/gpickles/*
experiments/ge-sc-data/byte_code/smartbugs/runtime/evm/*
experiments/ge-sc-data/byte_code/smartbugs/cryptic_evm/*
Mando/*
experiments/ge-sc-data/smartbugs-wild-clean-contracts/*
visulalizes/*
ge-sc-dataset/*
ge-sc-data/*
ge-sc-dataset-eb9b8eb36decd03ecde5f7afe1c49dcec0932c09.zip
*log*